VITE_SUPABASE_URL=https://clfwpxzdecvcqyvgdbuj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNsZndweHpkZWN2Y3F5dmdkYnVqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ1NTE4NDIsImV4cCI6MjEwMDEyNzg0Mn0.B04nmeFoITZPrJ2IbSkaXeXuC61oDLcj4NvdFfcZ004
